body {
    font-size: 16px;
    color: #000000;
    line-height: 1.7em;
    font-weight: 400;
    background: #ffffff;
    overflow-x: hidden;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-sub-title {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: #6c38ff;
    margin-bottom: 20px;
    order: -1;
    position: relative;
}

.main-sub-title::before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 10px;
    background: linear-gradient(111.8deg, #8236fb 21.93%, #076ef4 90.29%);
}

.main-sub-title span {
    background: linear-gradient(111.8deg, #8236fb 21.93%, #076ef4 90.29%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.main_header_area {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    padding: 0;
    background-color: transparent;
    z-index: 9999;
    overflow: visible;
    -webkit-transition: box-shadow .42s ease, opacity .3s ease, transform .32s ease;
    -moz-transition: box-shadow .42s ease, opacity .3s ease, transform .32s ease;
    -ms-transition: box-shadow .42s ease, opacity .3s ease, transform .32s ease;
    -o-transition: box-shadow .42s ease, opacity .3s ease, transform .32s ease;
    transition: box-shadow .42s ease, opacity .3s ease, transform .32s ease;
}

.main_header_area.navbar_fixed {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

.main_header_area.navbar_fixed .top-header {
    display: none;
}

.top-header {
    width: 100%;
    background: transparent;
}

.top-header-container {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 30px;
    border-bottom: 1px solid #ffffff3D;
}

.top-header .top-header-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 7px;
    padding: 13px 0 12px;
}

.top-header .top-header-content .top-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.top-header .top-header-content .top-header-left .top-header-email,
.top-header .top-header-content .top-header-left .top-header-address {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.top-header .top-header-content .top-header-left .top-header-email svg,
.top-header .top-header-content .top-header-left .top-header-address svg {
    width: 18px;
    height: 18px;
    fill: #f5f5f5;
}

.top-header .top-header-content .top-header-left .top-header-email span,
.top-header .top-header-content .top-header-left .top-header-address span {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #f5f5f5;
}

.top-header .top-header-content .top-header-right .top-header-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.top-header .top-header-content .top-header-right .top-header-social a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.top-header .top-header-content .top-header-right .top-header-social a svg {
    width: 18px;
    height: 18px;
    fill: #f5f5f5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.top-header .top-header-content .top-header-right .top-header-social a:hover svg {
    fill: #5079f7;
}

.main_header_area .navbar {
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
}

.main_header_area .navbar .navbar-brand {
    margin: 0;
}

.main_header_area .navbar .navbar-brand a {
    display: block;
    margin: 15px 0;
}

.main_header_area .navbar .navbar-brand img {
    height: 50px;
    object-fit: cover;
}

.main_header_area .navbar .navbar_supported {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.main_header_area .navbar .navbar_supported ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_header_area .navbar .navbar_supported ul li a {
    margin: 0 15px;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: block;
    z-index: 1;
}

.main_header_area.navbar_fixed .navbar .navbar_supported ul li a {
    color: #000000;
}

.main_header_area .navbar .navbar_supported ul li a:not(.theme_btn)::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 2px;
    z-index: 9999;
    background: #5079f7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main_header_area .navbar .navbar_supported ul li a:hover {
    color: #5079f7;
}

.main_header_area .navbar .navbar_supported ul li a:not(.theme_btn):hover::after {
    width: 100%;
}

.main_header_area .navbar .navbar_supported ul li a.theme_btn {
    min-width: auto;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 0 30px;
    background: #5079f7;
    z-index: 1;
    font-size: 16px;
    font-weight: 500;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main_header_area .navbar .navbar_supported ul li a.theme_btn:hover {
    color: #fff;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
}

.main_header_area .navbar .right_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.main_header_area .navbar .right_nav li a.theme_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0;
    padding: 13px 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    background: linear-gradient(111.8deg, #8236fb 21.93%, #076ef4 90.29%);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main_header_area .navbar .right_nav li a.theme_btn span {
    z-index: 9;
}

.main_header_area .navbar .right_nav li a.theme_btn::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 100%;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    background: linear-gradient(111.8deg, #076ef4 21.93%, #8236fb 90.29%);
    transition: 0.3s;
}


.main_header_area .navbar .right_nav li a.theme_btn:hover::before {
    width: 100%;
    visibility: visible;
    opacity: 1;
}

.main_header_area .navbar .right_nav li a.call-to-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 25px;
    background: transparent;
    color: #ffffff;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 15px;
}

.main_header_area.navbar_fixed .navbar .right_nav li a.call-to-btn {
    color: #000000;
}

.main_header_area .navbar .right_nav li a svg {
    width: 30px;
    height: 30px;
    fill: #5079f7;
}

.main_header_area .navbar .right_nav li a:hover svg {
    fill: #ffffff;
}

.main_header_area.navbar_fixed .navbar .right_nav li a:hover svg {
    fill: #000000;
}



.banner_area {
    width: 100%;
    height: 100vh;
    display: block;
    overflow: hidden;
    padding-top: 0;
    position: relative;
    background: #000000;
}

.banner_area .banner_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

.banner_area .banner_bg .overlay-vector-top {
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.banner_area .banner_bg .overlay-vector-bottom {
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.banner_area .banner_bg .overlay-bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.banner_area .bdr,
.platform_facilitates .container,
.cloud_agency_area .container,
.smarter_collect .container,
.footer_area .container {
    padding-bottom: 0;
    border-bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 70px;
    position: relative;
    z-index: 10;
}

.banner_area .bdr .row,
.platform_facilitates .container .row,
.cloud_agency_area .container .row,
.footer_area .container .row {
    margin-right: 0;
    margin-left: 0;
    padding-top: calc(100vw * 0.05);
    padding-bottom: calc(100vw * 0.04);
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.banner_area .col-lg-8 {
    padding: 0;
    margin: 0;
}

.banner_area .col-lg-4 {
    padding: 0;
    margin: 0;
}

.banner_area h1 {
    color: #ffffff;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 64px;
    line-height: 72px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner_area h1 span {
    -webkit-text-stroke-width: .02em;
    display: inline;
    padding: 0;
    -webkit-text-stroke-color: inherit;
    -webkit-text-fill-color: transparent;
    background-size: 100% 80%;
    line-height: inherit;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
}

.banner_area p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 0;
    color: #ffffff;
}

.banner_area .theme_btn {
    min-width: auto;
    margin-top: 0;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    background: #5079f7;
    font-size: 18px;
    font-weight: 500;
    z-index: 1;
    margin-top: 24px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

.banner_area .theme_btn:last-child {
    margin-left: 15px;
    background: #1be394;
}

.banner_area .theme_btn:hover {
    box-shadow: 0px 10px 20px 0px rgba(80, 121, 247, 0.3);
}

.banner_area .banner_i .images_2 {
    position: absolute;
    bottom: 0;
    right: -50px;
    width: 95%;
}

.platform_facilitates {
    padding-top: 150px;
}

.platform_facilitates h1 {
    color: #000000;
    max-width: 100%;
    margin: 0 auto 10px;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
}

.platform_facilitates p {
    color: #000000;
    max-width: 100%;
    margin: 0 auto 60px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}


.platform_facilitates .container .row {
    padding-top: 0;
    padding-bottom: 0;
    gap: 15px;
}

.platform_facilitates .platform_row:before, .platform_facilitates .platform_row:after {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.platform_facilitates .container .row .col-lg-4 {
    padding: 0;
    max-width: 32%;
    display: flex;
    height: 100%;
}

.platform_facilitates .platform {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: white;
    box-shadow: none;
    margin: 0 auto 30px;
    text-align: center;
    padding: 50px 20px;
    z-index: 5;
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.platform_facilitates .platform:hover {
    box-shadow: 0px 0px 30px 0px rgba(186, 184, 191, 0.35);
}

.cloud_agency_area .container .row {
    max-width: min(100%, 1290px);
    gap: 100px;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
}

.cloud_agency_area .containt_inner {
    padding: 0;
    width: 46%;
    max-width: 50%;
    flex: none;
    height: 100%;
}

.cloud_agency_area .containt_inner h1,
.smarter_collect .smarter_text h1 {
    color: #181818;
    max-width: 100%;
    padding: 0;
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 24px;
}

.cloud_agency_area .containt_inner p,
.smarter_collect .smarter_text p {
    color: rgba(24, 24, 24, 0.8);
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}


.cloud_agency_area .containt_inner h2 {
    color: #333333;
    max-width: 100%;
    padding: 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    margin-top: 16px;
    margin-bottom: 18px;
}

.text-lg-right {
    padding: 0;
    position: relative;
    width: 46%;
    max-width: 50%;
    flex: none;
    height: initial;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
}

.text-lg-right .cloud_agency-mask-img-1 {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    vertical-align: middle;
    display: inline-block;
}

.text-lg-right .cloud_agency-mask-img-1 img {
    -webkit-mask-image: url(../images/h1-mask1.png);
    mask-image: url(../images/h1-mask1.png);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.text-lg-right .cloud_agency-mask-img-2 {
    position: absolute;
    width: auto;
    max-width: 100%;
    bottom: -18px;
    left: -3px;
    height: auto;
}

.text-lg-right .cloud_agency-mask-img-2 img {
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    vertical-align: middle;
    display: inline-block;
}

.text-lg-right .cloud_agency-mask-img-3 {
    position: absolute;
    width: auto;
    max-width: 100%;
    bottom: 68px;
    z-index: -1;
    right: -37px;
    height: auto;
}

.text-lg-right .cloud_agency-mask-img-3 img {
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    vertical-align: middle;
    display: inline-block;
}

.digital_modules {
    width: 100%;
    margin: 50px 0;
}

.digital_modules .container {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.digital_modules .container .modules_inner {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 50px;
}

.digital_modules .container .modules_inner .media {
    width: 25%;
    height: initial;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: none;
}

.digital_modules .container .modules_inner .media img {
    padding-left: 20px;
    margin-bottom: 30px;
}

.digital_modules .reporting_area {
    padding-bottom: 0;
    border-bottom: 0;
    width: 100%;
    height: 100%;
    margin: 100px auto 0;
    padding: 0 70px;
    position: relative;
    z-index: 10;
    max-width: min(100%, 1290px);
    gap: 100px;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
}

.digital_modules .reporting_area .reporting_area-content {
    width: 46%;
    max-width: 50%;
    height: initial;
    flex: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.digital_modules .reporting_area h1 {
    color: #181818;
    max-width: 100%;
    padding: 0;
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 24px;
}

.digital_modules .reporting_area p {
    padding-bottom: 0;
    color: rgba(24, 24, 24, 0.8);
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.digital_modules .reporting_area .reporting_area-content-right {
    align-items: center;
}


.platform_facilitates .swiper.platform-slider {
    width: 100%;
    height: 100%;
    margin: 100px auto 0;
    position: relative;
    z-index: 10;
    max-width: min(100%, 1290px);
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
}

.platform_facilitates .swiper.platform-slider .swiper-slide {
    width: 100%;
    height: initial;
}

.platform_facilitates .swiper.platform-slider .platform {
    width: 100%;
    height: initial;
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 18px;
    transition: 0.5s ease-in-out;
    padding: 0;
    margin: 0;
}


.platform_facilitates .swiper.platform-slider .platform::before, .platform_facilitates .swiper.platform-slider .platform::after {
    content: "";
    position: absolute;
    width: 155px;
    height: 258px;
    z-index: 3;
    display: block;
    opacity: 0;
    border-radius: 18px;
    transition: 0.5s ease-in-out;
}

.platform_facilitates .swiper.platform-slider .platform::before {
    top: -200px;
    left: -150px;
    transform: rotateZ(42.33deg);
    background: linear-gradient(111.8deg, #8236fb 21.93%, #076ef4 90.29%);
}

.platform_facilitates .swiper.platform-slider .platform::after {
    right: -150px;
    bottom: -100px;
    transform: rotateZ(42.33deg);
    background: linear-gradient(111.8deg, #8236fb 21.93%, #076ef4 90.29%);
}

.platform_facilitates .swiper.platform-slider .platform:hover::before {
    top: -130px;
    left: 5px;
    opacity: 0.8;
}

.platform_facilitates .swiper.platform-slider .platform:hover::after {
    right: -110px;
    bottom: -30px;
    opacity: 0.8;
}

.platform_facilitates .swiper.platform-slider .platform .platform-bg {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
}

.platform_facilitates .swiper.platform-slider .platform .platform-bg img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
}

.platform_facilitates .swiper.platform-slider .platform .platform-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(rgba(26, 62, 103, 0) 0%, rgb(16, 27, 49) 100%);
    left: 0px;
    bottom: 0px;
    opacity: 1;
    transition: 0.3s ease-in-out;
    z-index: 2;
}

.platform_facilitates .swiper.platform-slider .platform .platform-body {
    position: absolute;
    bottom: 80px;
    width: 100%;
    z-index: 5;
    display: block;
    text-align: center;
    transform: translateY(72px);
    margin: 0px;
    padding: 0px 30px;
    background: 0px 0px;
    transition: transform 0.5s;
    border-radius: 18px;
}

.platform_facilitates .swiper.platform-slider .platform:hover .platform-body {
    bottom: 61px;
    transform: translateY(0px);
    transition: transform 0.5s;
}

.platform_facilitates .platform a {
    display: block;
    color: #ffffff;
    padding: 27px 0;
    font-size: 24px;
    line-height: 1.22;
    font-weight: 600;
}

.platform_facilitates .swiper.platform-slider .platform p {
    visibility: hidden;
    opacity: 0;
    max-width: 256px;
    transition: transform 0.5s;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 auto;
    line-height: 24px;
    display: none;
}

.platform_facilitates .swiper.platform-slider .platform:hover p {
    visibility: visible;
    opacity: 1;
    transition: transform 0.5s;
    display: block;
}

.smarter_collect .container .row {
    border-bottom: 0;
    width: 100%;
    height: 100%;
    margin: 100px auto 0;
    padding: 0 70px;
    position: relative;
    z-index: 10;
    max-width: min(100%, 1290px);
    gap: 100px;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
}

.testimonial_area {
    padding-bottom: 180px;
}

.footer_area {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    padding-top: 0;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-color: #1c1a2f;
}

.footer_area:before {
    background-image: url(https://demo2.themelexus.com/neotech/wp-content/uploads/2024/10/Footer-bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background .3s, border-radius .3s, opacity .3s;
    content: "";
    display: block;
    position: absolute;
    mix-blend-mode: luminosity;
    opacity: 0.1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-transition: background .3s, border-radius .3s, opacity .3s;
    -moz-transition: background .3s, border-radius .3s, opacity .3s;
    -ms-transition: background .3s, border-radius .3s, opacity .3s;
    -o-transition: background .3s, border-radius .3s, opacity .3s;
    transition: var(--overlay-transition, .3s);
}

.get_touch {
    display: block;
    overflow: hidden;
    background: transparent;
    text-align: center;
    background-size: cover;
    padding: 140px 30px 120px;
    border-bottom: 1px solid #ffffff3A;
    position: relative;
    z-index: 10;
}

.get_touch .theme_btn {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer_area .container .row {
    align-items: flex-start;
    justify-content: center;
}

.footer_area .footer_logo .footer_logo-img {
    display: block;
    width: 100px;
    height: auto;
}

.footer_area .footer_logo .footer_logo-img img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.footer_area .footer_logo address {
    font: 400 16px / 28px "Poppins", sans-serif;
    color: #ffffff;
    display: block;
    padding-top: 35px;
    margin: 0;
    padding-bottom: 25px;
}

.footer_area .footer_logo address a {
    display: block;
    padding-top: 5px;
    color: #cacaca;
}

.footer_area .footer_logo .footer_social i {
    color: #ffffff;
}

.footer_area .footer_widget h4 {
    color: #ffffff;
    padding-bottom: 37px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

.footer_area .footer_widget .footer_nav li a {
    color: #cacaca;
    display: block;
    font-size: 16px;
    line-height: 40px;
    font-weight: 500;
}

.footer_area .container .copy_right .row {
    padding: 0;
}

.footer_area .copy_right .c_nav li a {
    font: 400 15px / 38px "Poppins", sans-serif;
    color: #ffffff;
    display: block;
}

.footer_area .copy_right p {
    color: #ffffff;
    line-height: 38px;
}

.footer_area .copy_right p a {
    color: #5079f7;
}